body{
    width:100%;
}

aside {
    float:right;
}

.hamburger {
    width:10%;
}

.logo{
    width:20%;
}

.search-section{
    width:40%;
}

.navigation{
    width:30%;
}

img.thumbnail_images{

    display: block;

    max-width:230px;
    max-height:95px;
    width: 230px;
    height: 95px;

}

