body{
    width:100%;
}

aside {
    float:right;
}

.hamburger {

}

.logo{

}

.search-section{

}

.navigation{
    display: flex;
    flex-direction: row;

}

img.thumbnail_images{

    display: block;

    max-width:230px;
    max-height:95px;
    width: 230px;
    height: 95px;

}

#nav-bar
{
    display: flex;
    flex-direction: row;


}

header
{
    position: fixed; 
    margin-bottom:20px; 
    display: flex; 
    width: 100%
}

#video-section
{
    padding-top: 100px; 
    display: flex; 
    width: 100%
}

.icons
{
    max-width: 55px;
    width: 55px;

}

#navigation-section
{

    float: right;

}

