svg{
    fill: rgb(95, 95, 95);
    max-height: 24px;
    max-width: 24px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    display: grid;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
    background-color: white;
    position: fixed;
    padding: 8px;
    height: 40px;
    box-shadow: 0 5px 0 0 rgb(250, 250, 250);
}